


body{
  height: 100vh;
  width: 100vw ;
  background-image: url("./—Slidesdocs—notebook\ green\ math\ ruler\ cute_c60b6f87b6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.divcalc{
  display: flex;
  align-items: center;
  justify-content: center;
}

#display{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 8rem;
  margin: 3rem;
  padding: 1rem;
  border: 1rem solid rgb(244, 44, 9);
  border-radius: 2rem;
  
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 13rem;
  height: 20rem;
  transform: translateX(40rem);

}

.calbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(243, 125, 16);
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  cursor: pointer;
}
.calbtn:hover{
  background-color: rgb(246, 190, 139);
}